.section-cards {
    display: flex;
    flex-direction: column;

    &__header {
        margin: 0 0 2rem 0;
        text-align: center;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../img/banner/card-section__banner-img.jpg") no-repeat center center;
        background-size: cover;

        &-title {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 2em;
            color: #FFF;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            @media screen and (min-width: 768px) {
                font-size: 3.5em;
            }
        }

        &-description {
            font-size: 1.2em;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            animation: text-animation 2s infinite;

            @media screen and (min-width: 768px) {
                font-size: 1.5em;
            }

            @keyframes text-animation {
                0% {
                    transform: translateX(0);
                    color: #DC1CF9;
                }

                50% {
                    transform: translateX(10px);
                    color: #6DDB06;
                }

                100% {
                    transform: translateX(0);
                    color: #1CCDF9;
                }
            }
        }
    }

    .cloud-img {
        background-image: url("../img/banner/cloud-banner2.jpg");
    }
}