.hamburger-button {
    display: block;
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: #222;
    position: relative;
    border-radius: 0.2em;

    &:hover {
        background-color: #2A2A2A;
    }

    &__topbread {
        display: block;
        position: absolute;
        width: 80%;
        height: 10%;
        top: 20%;
        left: 10%;
        background-color: #eee;
    }

    &__middlebread {
        display: block;
        position: absolute;
        width: 80%;
        height: 10%;
        top: 50%;
        left: 10%;
        background-color: #eee;
        transform: translateY(-50%);
    }

    &__bottombread {
        display: block;
        position: absolute;
        width: 80%;
        height: 10%;
        bottom: 20%;
        left: 10%;
        background-color: #eee;
    }
}