.main-header {
    display: flex;
    flex-wrap: wrap;
    background-color: #e9f5f8;

    &__logo-container {
        display: flex;
        justify-content: center;
        padding: .5em;

        .logo-header {
            width: 3em;
            filter: drop-shadow(0 0 0.3em #444);
        }
    }

    &__search-form-container {
        padding: 1em;
        flex-grow: 1;

        @media (min-width: 768px) {
            order: 2;
            flex-grow: 0;
            flex-shrink: 1;
            display: flex;
            align-items: center;
        }

        .search-form {

            .btn-search-product {
                background-color: #e9f5f8;
                border: none;
                cursor: pointer;
            }

            .search-form__input {
                border: none;
                border-bottom: 2px solid #03045E;
                font-size: 1.2em;
                outline: none;
                font-weight: 500;
                color: #03045E;
            }







        }
    }

    &__cart-button-container {
        padding: 1em;

        @media (min-width: 768px) {
            order: 3;
            display: flex;
            align-items: center;
        }
    }

    &__hamburger-button-container {
        background-color: #47B;
        padding: 1em;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__main-nav-container {
        flex-basis: 100%;
        display: none;
        flex-grow: 1;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            order: 1;
            flex-basis: auto;
        }
    }
}