.main-header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #00B4D8;

    &__logo-container {
        display: flex;
        justify-content: center;
        padding: .5em;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        .logo-header {
            width: 3em;
            filter: drop-shadow(0 0 0.3em #555);
        }
    }

    &__search-form-container {
        padding: 1em;
        flex-grow: 1;

        @media (min-width: 768px) {
            order: 2;
            flex-grow: 0;
            flex-shrink: 1;
            display: flex;
            align-items: center;
        }

        .search-form {
            background-color: red;
            
            @media (min-width: 768px) {
                width: 100%;
                padding: 0.8em;
            }

            .btn-search-product {
                border: none;
                cursor: pointer;
                color: #444;
                background-color: #FFF;
                font-size: 1.2em;
            }

            &__input {
                border: none;
                border: 1px solid #00B4D8;
                border-radius: 6px;
                font-size: 1.2em;
                outline: none;
                font-weight: 500;
                color: #444;
                height: 1.5em;

                &::placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }

            }







        }
    }

    &__cart-button-container {
        padding: 1em;
        color: #444;
        font-size: 1.2em;

        @media (min-width: 768px) {
            order: 3;
            display: flex;
            align-items: center;
        }
    }

    &__hamburger-button-container {
        background-color: #47B;
        padding: 1em;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__main-nav-container {
        flex-basis: 100%;
        display: none;
        flex-grow: 1;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            order: 1;
            flex-basis: auto;
        }
    }
}