.main-header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #00B4D8;
    color: #666;
    position: fixed;
    top: 0;
    width: 100%;
    // z-index: 2 para asegurarme que el header se muestre por encima de todo
    // (en el z-index 1 está el .card::before)
    z-index: 2;
    background-color: rgba(248, 248, 248);


    &__logo-container {
        display: none;

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em;
        }

        .logo-header {
            width: 3em;
            filter: drop-shadow(0 0 0.2em #555);
            cursor: pointer;

            &:hover {
                filter: hue-rotate(180deg) drop-shadow(0 0 0.2em #555);
            }
        }
    }

    &__search-form-container {
        display: flex;
        padding: 1em;
        flex-grow: 1;
        justify-content: center;
        order: 2;

        @media (min-width: 768px) {
            flex-grow: 0;
            flex-shrink: 1;
            display: flex;
            align-items: center;
        }

        .search-form__input {
            padding: 0.5em;
            border: 1px solid #ccc;
            border-right: none;
            border-radius: 12px 0 0 12px;
            outline: none;
            transition: 0.2s ease;
            width: 10ch;

            &:focus {
                border-color: #00B4D8;

                @media (min-width: 375px) {
                    width: 20ch;
                }

                @media (min-width: 575px) {
                    width: 25ch;
                }

                @media (min-width: 768px) {
                    width: 30ch;
                }
            }

            &::placeholder {
                font-size: 0.8em;


                @media (min-width: 768px) {
                    font-size: 1em;
                }
            }
        }

        .search-form__button {
            padding: 0.5em;
            border: 1px solid #ccc;
            border-left: none;
            border-radius: 0 12px 12px 0;
            outline: none;
            color: inherit;
            cursor: pointer;
            background-color: #FFF;

            &:hover {
                color: #00B4D8;
            }

            &:focus {
                color: #00B4D8;
                border-color: #00B4D8;
            }
        }

    }

    &__cart-button-container {
        padding: 1em 1.2em;
        color: inherit;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        cursor: pointer;
        order: 3;

        &:hover {
            color: #00B4D8;
        }
    }

    &__main-nav-container {
        flex-basis: 100%;
        display: none;
        flex-grow: 1;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            order: 1;
            flex-basis: auto;
        }
    }

    &__hamburger-button-container {
        padding: 1em;
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            display: none;
        }
    }
}