.card {
    background-color: #fff;
    border: 2px solid #ADE8F4;
    border-radius: 9px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    height: fit-content;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    }

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image-container {
        height: 300px;
        width: 250px;
        border-radius: 9px;
        margin-bottom: 1rem;
    }

    &__image {
        height: 300px;
        width: 250px;
        object-fit: cover;
    }

    &__heading {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 0.5rem;
        min-height: min-content;
        max-height: 4em;
        overflow: hidden;
        background-color: #FFF;
        border-radius: 9px;
        padding: 4px 0;
        transition: all 0.2s ease-in-out;

        &:hover {
            overflow: visible;
        }
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        background-color: #F5F5F5;
        border-radius: 9px;
        width: max-content;
    }

    &__view-button {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem;
        text-align: center;
        border-radius: 9px;
        color: #0096C7;
        width: fit-content;
        margin: auto;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: #03045E;
            color: #FFF;
        }
    }

    &__favorite-button {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem;
        text-align: center;
        border-radius: 9px;
        color: #DA1E37;
        width: fit-content;
        margin: auto;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: #641220;
            color: #FFF;
        }
    }

    &__sell-button {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem;
        text-align: center;
        border-radius: 9px;
        color: #F2B705;
        width: fit-content;
        margin: auto;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: #AE8200;
            color: #FFF;
        }
    }

    &__link-add {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem;
        text-align: center;
        border-radius: 9px;
        color: #90A955;
        width: fit-content;
        margin: auto;

        &:hover {
            background-color: #132A13;
            color: #FFF;
        }
    }
}

/* .card:nth-child(even):before {
    content: 'OFF';
    position: relative;
    top: 10px;
    left: 210px;
    padding: 0.5em;
    border-radius: 9px;
    background-color: #FFF;
    border: 1px solid #85182A;
    color: #85182A;
    transition: all 0.2s ease-in-out;
    z-index: 1;
} */