body {
    /* background-color: #F9FEFE; */
    background: rgb(10, 65, 106);
    background: linear-gradient(180deg, rgba(10, 65, 106, 1) 0%, rgba(29, 5, 87, 1) 0%, rgba(78, 134, 200, 1) 23%, rgba(197, 236, 255, 1) 55%, rgba(238, 246, 255, 1) 100%, rgba(81, 181, 154, 1) 100%);
}

.cards-container {
    padding: 1em;
    display: flex;
    gap: 1em;
    margin-bottom: 30px;
    width: 100%;
    height: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        @media (min-width: 768px) {
            display: none;
        }
    }

    @media (min-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
}

.section-cards {
    margin-top: 71px;
    display: flex;
    flex-direction: column;

    &__header {
        margin: 0 0 2rem 0;
        text-align: center;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

        &-title {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 2em;
            color: #FFF;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            @media screen and (min-width: 768px) {
                font-size: 3.5em;
            }
        }

        &-description {
            font-size: 1.2em;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            animation: text-animation 2s infinite;

            @media screen and (min-width: 768px) {
                font-size: 1.5em;
            }

            @keyframes text-animation {
                0% {
                    transform: translateX(0);
                    color: #DC1CF9;
                }

                50% {
                    transform: translateX(10px);
                    color: #6DDB06;
                }

                100% {
                    transform: translateX(0);
                    color: #1CCDF9;
                }
            }
        }
    }

    .space-img {
        background-image: url("../img/banner/card-section__banner-img.jpg");
        background-position: initial;
        background-size: cover;
    }

    .cloud-img {
        background-image: url("../img/banner/cloud-banner2.jpg");
        background-size: cover;
        background-position: center;
    }
}